# Adres URL Twojego serwera Socket.io.
# Lokalnie będzie to zazwyczaj http://localhost:3001
# Na produkcji (np. Vercel + Render) to pełen adres serwera WebSocket, np. https://twoje-api.onrender.com
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Port, na którym działa serwer Socket.io lokalnie
SOCKET_PORT=3001
